[Unit]
Description=roadrunner2 Autostart
After=multi-user.target

[Service]
Type=idle
User=pi
Group=pi
ExecStart=/home/pi/FE_2024/Autostart/autostart.sh

[Install]
WantedBy=multi-user.target
